name: Deploy to EC2

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Important: fetch full repo history

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_DEPLOY_KEY }}

      - name: Run deploy script on EC2
        run: ssh -o StrictHostKeyChecking=no ubuntu@<YOUR_EC2_IP> 'bash ~/vms/deploy.sh'
