name: Deploy Backend to EC2
 
on:
  push:
    branches:
      - master
 
jobs:
  deploy:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
 
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/vms/segueit-vms-backend
            git reset --hard
            git clean -fd
            git pull origin master
            npm install --legacy-peer-deps
            npm run build
            pm2 restart svms-backend || pm2 start dist/main.js --name svms-backend








