- name: Deploy to EC2
  uses: appleboy/ssh-action@v0.1.10
  with:
    host: ${{ secrets.EC2_HOST }}
    username: ${{ secrets.EC2_USER }}
    key: ${{ secrets.EC2_SSH_KEY }}
    script: |
      cd ~/vms/segueit-vms-backend
      git pull origin main
      docker stop vms-backend || true
      docker rm vms-backend || true
      docker build -t vms-backend .
      docker run -d -p 3000:3000 vms-backend
