name: Deploy Backend

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  deploy-backend:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy Backend
        run: |
          BACKEND_PATH=~/vms/segueit-vms-backend

          cd $BACKEND_PATH
          git fetch origin master
          git reset --hard origin/master

          npm ci --legacy-peer-deps
          npx prisma generate
          npx prisma migrate deploy

          npm run build
          pm2 delete svms-backend || true
          pm2 start dist/main.js --name "svms-backend"
          pm2 save
